.post-page {
    &__wrapper {
        height: calc(100vh - 134px);
        overflow: auto;
        &::-webkit-scrollbar {
            width: 0;
        }
    }
    &__preloder {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.post {
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    font-weight: 600;
    &:not(:last-child) {
        margin: 0 0 15px 0;
    }
    &__information span {
        font-weight: 400;
    }
}
