.main-page {
    &__wrapper {
        height: calc(100vh - 40px - 40px - 54px); 
    }
}

.result {
    margin: 0 0 15px 0;
    &__wrapper {
        display: flex;
        align-items: center;
    }
    &__text {
        font-weight: 600;
        font-size: 20px;
        margin: 0 0 0 10px;
        color: var(--result-text-color);
    }
}
