.table-wrapper {
    overflow: auto;
    &::-webkit-scrollbar {
        width: 6px;
    }
    &::-webkit-scrollbar-track {
        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }
    &::-webkit-scrollbar-thumb {
        box-shadow: inset 0 0 6px #ccc;
    }
    height: 80vh;
}

.table {
    width: 100%;
    border-spacing: 0;
    th,
    td {
        text-align: left;
        padding: 14px 20px;
    }
    &__cell--status {
        color: green;
    }
    &__cell--status.close {
        color: red;
    }
    &__col--head {
        cursor: pointer;
    }
    &__preloader {
        width: 100%;
        height: 100%;
        background-color: rgba($color: #ccc, $alpha: 0.4);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.table__head.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
    th {
        background-color: #ccc;
    }
}

.table__body {
    position: relative;
    td {
        border-bottom: 1px solid #000;
    }
    tr {
        &:last-child td {
            border: none;
        }
    }
}

.table__body.loading,
.table__body.empty {
    height: 80vh;
}

