.table-wrapper {
    overflow: auto;
    height: 160px;
}

.table {
    width: 100%;
    border-spacing: 0;
    th,
    td {
        text-align: left;
        padding: 14px 20px;
    }
}

.table__head.sticky {
    position: sticky;
    top: 0;
    z-index: 1;
    th {
        background-color: #ccc;
    }
}

.table__body {
    td {
        border-bottom: 1px solid #000;
    }
    tr {
        &:last-child td {
            border: none;
        }
    }
}
