@media screen and (max-width: 768px) {
    .page {
        padding: 20px 20px 10px 20px;
    }

    .table {

        th,
        td {
            text-align: center;
        }
    }

    .form .form__wrapper {
        grid-template-columns: repeat(8, 1fr);
    }

    .form .form__input {
        grid-column: 2 span;
    }

    .form .form__selection-menu {
        grid-column: 4 span;
    }

    .table-wrapper.table-wrapper {
        height: calc(100vh - 275px);
    }

    .user-page__wrapper.user-page__wrapper,
    .post-page__wrapper.post-page__wrapper {
        height: calc(100vh - 125px);
    }
}

@media screen and (max-width: 500px) {
    .page {
        padding: 15px 15px 10px 15px;
    }

    .form .form__wrapper {
        grid-template-columns: repeat(4, 1fr);
    }

    .table-wrapper.table-wrapper {
        height: calc(100vh - 365px);
    }

}

@media screen and (max-width: 425px) {
    .form .form__input {
        grid-column: 4 span;
    }

    .form .form__input--id {
        max-width: 100%;
    }

    .table-wrapper.table-wrapper {
        height: calc(100vh - 465px);
    }

    .page {
        padding: 45px 15px 10px 15px;
    }

    .theme {
        margin: 5px;
    }
}

@media screen and (max-width: 320px) {
    .page {
        overflow-y: scroll;
    }

    .table-wrapper.table-wrapper {
        height: 600px;
    }
}

@media screen and (max-height: 375px) {
    .page {
        overflow-y: scroll;
    }

    .table-wrapper.table-wrapper {
        height: 600px;
    }
}