* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    margin: 0;
    padding: 0;
    height: 100vh;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
}

input {
    outline: none;
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        transition: background-color 5000s;
        -webkit-text-fill-color: #fff !important;
    }
}

select {
    outline: 0;
}

// /. NULL-STYLES

#root,
.App,
.page {
    height: 100%;
}

.page {
    padding: 40px;
}

.error-message {
    color: red;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}