* {
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    font-family: Plus Jakarta Sans, sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #000;
    margin: 0;
    padding: 0;
    height: 100vh;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    outline: none;
    border: none;
}

input {
    outline: none;
    &:-webkit-autofill,
    &:-webkit-autofill:hover,
    &:-webkit-autofill:focus,
    &:-webkit-autofill:active {
        transition: background-color 5000s;
        -webkit-text-fill-color: var(--input-autoFill-background-color) !important;
    }
}

select {
    outline: 0;
}

// /. NULL-STYLES

#root,
.App,
.page {
    height: 100%;
}

.App {
    background-color: var(--app-background-color);
}

header {
    flex: 0 0 auto;
}
main {
    flex: 1 0 auto;
}
footer {
    flex: 0 0 auto;
}

.page {
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.error-message {
    color: var(--err-message-color);
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.message {
    @extend .error-message;
    color: var(--message-color);
}
