html[data-theme="light"] {
    --app-background-color: #fff;

    --nav-links-color: #000;
    --nav-links-activeColor: rgba(175, 175, 175, 1);

    --result-text-color: #000;
    --footer-link-color: #000;

    --input-color: #000;
    --input-color-background-color: transparent;
    --input-border-color: #ccc;
    --input-border-disabledColor: #000;
    --input-autoFill-background-color: #000;

    --selectionmenu-background-color: #fff;
    --selectionmenu-color: #000;
    --selectionmenu-border-color: #ccc;
    --selectionmenu-border-disabledColor: #000;

    --scrollbarTrack-boxshadow-color: rgba(0, 0, 0, 0.3);
    --scrollbarThumb-boxshadow-color: #ccc;

    --cell-defaultStatus-color: green;
    --cell-closetStatus-color: red;
    --cell-progressStatus-color: orange;

    --table-preloader-background-color: rgba(204, 204, 204, 0.3);
    --stickyTH--background-color: #ccc;
    --TD-border-color: #000;
    --TD-color: #000;

    --card--color: #000;
    --card-border-color: #ccc;

    --message-color: #000;
    --err-message-color: red;

    --preloader-background-color: #000;
}

html[data-theme="dark"] {
    --app-background-color: #333;

    --nav-links-color: #000;
    --nav-links-activeColor: rgba(255, 255, 255, 1);

    --result-text-color: #fff;
    --footer-link-color: #fff;

    --input-color: #fff;
    --input-color-background-color: transparent;
    --input-border-color: #fff;
    --input-border-disabledColor: rgba(255, 0, 0, 0.8);
    --input-autoFill-background-color: transparent;

    --selectionmenu-background-color: transparent;
    --selectionmenu-color: #ccc;
    --selectionmenu-border-color: #fff;
    --selectionmenu-border-disabledColor: rgba(255, 0, 0, 0.8);

    --scrollbarTrack-boxshadow-color: rgba(255, 255, 255, 0.1);
    --scrollbarThumb-boxshadow-color: rgba(255, 255, 255, 0.3);

    --cell-defaultStatus-color: rgba(0, 128, 0, 0.8);
    --cell-closetStatus-color: rgba(255, 0, 0, 0.8);
    --cell-progressStatus-color: rgba(255, 165, 0, 0.8);

    --table-preloader-background-color: rgba(204, 204, 204, 0.3);
    --stickyTH--background-color: #444;
    --TD-border-color: #ccc;
    --TD-color: #fff;

    --card--color: #ccc;
    --card-border-color: #fff;

    --message-color: #fff;
    --err-message-color: red;

    --preloader-background-color: #ccc;
}
