@import "assets/styles/_mixins.scss";

// /. imports

.post-page {
    &__wrapper {
        @include wrapper;
    }

    &__preloader {
        @include preloader;
    }
}

.post {
    @include card;
    align-items: center;

    &__information span {
        font-weight: 400;
    }
}